<h1>サークル一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="50"></th>
    </tr>
  </thead>

  <tbody>
    <% @circles.each do |circle| %>
      <tr>
        <td><%= image_tag circle.picture_url, width: 100  if circle.picture.present?%></td>
        <td><%= link_to circle.name, circle %></td>
        <td><%= link_to 'Destroy', circle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Circle', new_circle_path %>
