<h1>サークル一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="50"></th>
    </tr>
  </thead>

<% @circles.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |circle| %>
      <div class="col-md-3">
        <%= image_tag circle.picture_url, width: 200 if circle.picture.present?%>
        <h4><%= link_to circle.name, circle %></h4>
      </div>
    <% end %>
  </div>
<% end %>
</table>

<br>

<%= link_to 'New Circle', new_circle_path %>
